* {
	margin:0px; padding:0px; text-align:center
}

a {
	font-family:arial; font-size: 14px;
}

thead tr td ul li { 
	display:inline; margin-right: 20px;
}

tr td ul li a { 
	text-decoration:none;
}

tr td ul li a:hover {
	color:#000;
	text-decoration: underline;
}
tbody tr td {
	border-left:solid #c0c0c0 1px; vertical-align: top
}

tbody tr td h4 { 
	width:100%;
	background-color: darkgrey; 
	color:#fff;
	padding-top:5px;
	padding-bottom: 5px
}
tbody tr td ul {
	padding-left: 10px; padding-top: 7px; list-style-type: none
}

table { 
	margin:0 auto;
	width:1000px;
	height: 860px;
	text-align: center;
}

thead tr, tfoot tr { 
	height:70px;
}

thead tr td, tfoot tr td { 
	border:solid #c0c0c0 1px;
}

thead {
	background: #fff URL(banner.jpg)
}

thead tr td ul { 
	text-align: right;
	list-style-type: none;
	padding-top:40px
}
